.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-family: Chilanka;
    background-color: #fffbdc;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    font-family: Outfit;
}

.btn {
    background-color: #768a8a;
    color: white; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    font-family: Outfit;
}

.btn:hover {
    background-color: #49687c; /* Darker on hover */
}
