.motto{
    font-size: 60px;
    font-family: Chilanka;
    padding:50px;
    padding-top: 150px;

}
.rts{
    color:#9DAEAE;
    font-weight: 444px;
}

.motto p{
font-size: small;
margin :20x;
margin-top: 40px;
}