    body{
        background-color: rgb(255, 255, 226);
    }
    .header{
        font-size: 26px;
        font-family: Chilanka;
        margin-left: 20px;
    }

    .container{
        margin: 0 auto;
        background-color: #F9EEC6;
        display:grid;
        font-family: roboto;    
        align-items: center;
        font-size: 25px;
        padding:15px;
        border-radius: 12px;
        text-align: justify;
        max-width: 800px;
        width: 80%;
        justify-content: center; 
    }
    #btn{
    cursor: pointer;
    background: #fbe289;
    color: rgb(159, 144, 69);
    font-size: 20px;
    font-family: single day;
    border-radius: 5px;
    border-color: rgb(241, 237, 186);
    margin: auto;
    margin-top: 20px;
    padding: 5px 10px; 
    }
