html, body {
    margin:0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling */
    width: 100%;
    height: 100%;
  }
  
  .btn {
    background-color: #fbe289;
    color: #063F33;
    border: 2px solid #063F33;
    border-radius: 8px;
    padding: 4px 15px;
    font-family: single day;
    font-size: 20px;
    cursor: pointer;
    position: fixed; /* Fixed positioning */
    bottom: 20px;    
    right: 20px;     
  }